In [ ]:
import pandas as pd

data = pd.read_csv('D:\python-project\stock-market-model\data.csv\data.csv')

In [35]:
data.describe()

             Volume
count  2.516000e+04
mean   5.131764e+07
std    6.399143e+07
min    1.143952e+06
25%    1.200394e+07
50%    2.672083e+07
75%    6.857269e+07
max    1.065209e+09

In [ ]:
data.loc[[
    3,
    4,
    10,
    16
], ['Date', 'Volume']]

In [33]:
data.loc[data['Volume'] == 60750250]

  Company        Date Close/Last    Volume     Open     High      Low
3    AAPL  07-12-2023    $189.77  60750250  $189.68  $191.70  $188.47